@font-face {
    font-family: "rahlscript";
    src: url("https://pastelli-games.github.io/fonts/rahlscript.ttf") format("truetype");
}
body{
    background-color: black;
}
h1,
p{
    font-family: 'rahlscript';
    color: rgb(172, 133, 209)
}
h1{
    font-size: 49px;
}
.bigger-text{
    font-size: 20px;
}
.container {
    background: url("https://pastelli-games.github.io/img/Roben.png");
    background-position: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 700px;
    margin: 0px;
}
.strobatron {
    background:url("https://pastelli-games.github.io/img/backgroundalt.gif");
    background-position: none;
    background-repeat: repeat;
    background-size: none;
    height:32px;
    width: 32px;
}
