body{
    background-color: black;
}
h1,
p{
    color: rgb(172, 133, 209)
}
h1{
    font-size: 49px;
}
.bigger-text{
    font-size: 20px;
}
.container {
    background: url("https://pastelli-games.github.io/img/Roben.png");
    background-position: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 600px;
    margin: 0px;
}
.strobatron {
    background:url("https://pastelli-games.github.io/img/blueback.gif");
    background-position: none;
    background-repeat: repeat;
    background-size: none;
    height: 64px;
    width: 64px;
}